.row-fluid
	%form#sigular-regex.well{:method => 'POST', :action => 'save'}
		%fieldset
			%legend Your regular expression 
			.control-group
				%label Short describption of this regex
				%input.span12{:type => 'text', :name => 'description', :id => 'description'}
						
			.control-group
				.input-prepend
					%span.add-on>< &#47; 
					%input.span10{:type => 'text', :placeholder => '\((?<name>[a-zA-Z\s_-]+)\)[^0-9]+(?<age>[0-9]+)', :'name' => 'r', :value => '\((?<name>[a-zA-Z\s_-]+)\)[^0-9]+(?<age>[0-9]+)', :id => 'r'}
					%span.add-on>< &#47;
					%input.input-mini{:type => 'text'}
			.form-action
				%a.btn.btn-primary#more-test 
					%i.icon-plus					
					More Test

		%fieldset#test-string-wrap
			.control-group.test-string.row-fluid		
				.span6
					%textarea{:cols => '3', :class => 'span12', :name => 's[]'} (Tieu Phung) thi 30 yeu (Sa Man) 29
					%a{:href => '#delete', :class => 'btn btn-danger action-delete-ts btn-mini'}
						%i{:class => 'icon-trash icon-white'}

				.span5.test-result
					%h6 Result
					%p.masked-string-result	
					%pre.prettyprint.linenums