%html
	%head 
		%title Sinatra
		%link{:href => url('/style'), :rel => 'stylesheet', :media => 'screen, projection'}
	%body.page-index
		.row
			.span12
				some content here lol
				z
				lop

= yield